{% extends "base.html" %}

{% block title %}유저검색{% endblock title %}    

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/user_detail.css' %}">
<style>
{% comment %} /* 스피너 */ {% endcomment %}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    {% comment %} /* 화면 중앙에 배치 */ {% endcomment %}
    position: fixed; 
    top: 50%; 
    left: 55%; 
    transform: translate(-50%, -50%); 
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
{% endblock css%}

{% block content %}

<span class="loader" id="loader" style="display: none;"></span>
<div id="result" style="margin-top: 20px;"></div>


{% endblock content %}

{% block javascript%}

    <script>
        // 페이지 로드 시 유저 정보를 가져오는 함수
        window.onload = function() {
            const pathParts = window.location.pathname.split('/');
            const username = pathParts[pathParts.length - 1]; // URL에서 유저 이름 추출
            
            const urlParams = new URLSearchParams(window.location.search);
            const riotTag = urlParams.get('riot_tag'); // URL에서 Riot 태그 추출
            
            fetchUserData(username, riotTag);
        };

        // 유저 데이터를 가져오는 함수
        function fetchUserData(username, riotTag) {
            let apiUrl = `http://127.0.0.1:8000/api/profile/${username}`;
            if (riotTag) {
                apiUrl += `?riot_tag=${encodeURIComponent(riotTag)}`; // 태그가 있을 경우 추가
            }
            // 로딩 스피너 표시
            document.getElementById('loader').style.display = 'inline-block';
            // 이전 내용 초기화
            document.getElementById('result').innerHTML = ''; 

            fetch(apiUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('유저 정보를 가져오는 데 실패했습니다.');
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById('loader').style.display = 'none';
                    displayUserData(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                    // alert('유저 정보를 가져오는 데 문제가 발생했습니다.'); 
                    document.getElementById("result").innerText = '소환사 정보를 찾을 수 없습니다.'
                });
        }

        // 유저 데이터를 페이지에 표시하는 함수
        function displayUserData(data) {
            const resultDiv = document.getElementById('result');
            resultDiv.innerHTML = ''; // 이전 내용 초기화
            
            let score = Number(data.score.toFixed(2));
            resultDiv.innerHTML += `<div class="site-user-info"><h1>${data.username}</h1> <span class="total-score">👍${score}</span></div><br>`; // 사이트 유저네임, 점수

            // 라이엇 정보 유무에 따른 프로필 교체
            if(data.riot_info){
                resultDiv.innerHTML += `<div class="profile-level"><img id="profile-icon" src="${data.riot_info.profileIconLink}" alt="Profile Icon"/><span id="summoner-level">${data.riot_info.summonerLevel}</span><br>`;
                // resultDiv.innerHTML += `<span id="summoner-level">${data.riot_info.summonerLevel}</span>`
            }
            else {
                resultDiv.innerHTML += `<img id="profile-icon" src="${data.profile_image}" alt="Profile Icon"/>`;
            }
            
            // 유저 기본 정보
            if(data.riot_username && data.riot_tag){
                resultDiv.innerHTML += `<h2 class="riot_username_tag">${data.riot_username} | #${data.riot_tag}</h2>`;
            }
            else{
                resultDiv.innerHTML += `<h2 class="riot_username_tag">${data.riot_username || ''}#${data.riot_tag || ''}</h2>`;
            }
            
            // 라이엇 정보 출력
            if (data.riot_info) {
                const leagueInfo = data.riot_info.league.map(league => {
                    return `${league.tier} ${league.rank} (${league.leaguePoints} LP) - Wins: ${league.wins}, Losses: ${league.losses}`;
                }).join('<br>');
                if(data.riot_info.preferredPosition != 'Invalid'){
                    resultDiv.innerHTML += `<p>Preferred Position: ${data.riot_info.preferredPosition}</p>`;
                }
                if(leagueInfo){
                    resultDiv.innerHTML += `<h2>League Info:</h2><div>${leagueInfo}</div>`;
                }
                
                
                // Top Champions 데이터 있을 시 출력
                if(data.riot_info.topChampions){
                    resultDiv.innerHTML += `<h2>Top Champions</h2><span id="top-champions"></span>`;
                    const topChampionsDiv = document.getElementById('top-champions');
                    data.riot_info.topChampions.forEach(champion => {
                        topChampionsDiv.innerHTML += `
                        <div>
                            <p>${champion.championName}</p>
                            <img src="${champion.championImage}" alt="${champion.championName}" style="width: 50px; height: 50px;"/>
                            </div>
                            `;
                    });
                }  
            }
                else{
                    resultDiv.innerHTML += `<p>Riot Tier: ${data.riot_tier || '정보 없음'} • 포지션 넣을예정</p>`;
                }

            // Evaluations 출력
            if(data.articles != false){
                resultDiv.innerHTML += `<h2>Evaluations</h2><div id="evaluation-container"></div>`;
                const evaluationDiv = document.getElementById('evaluation-container');
            }
            if(data.evaluations.kindness){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">💗상냥함: ${data.evaluations.kindness} </div>
                `;
            }
            if(data.evaluations.teamwork){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">🙌🏻팀워크: ${data.evaluations.teamwork} </div>
                `;
            }
            if(data.evaluations.communication){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">🤝소통: ${data.evaluations.communication} </div>
                `;
            }
            if(data.evaluations.mental_strength){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">😇멘탈 관리: ${data.evaluations.mental_strength} </div>
                `;
            }
            if(data.evaluations.punctuality){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">⏱시간약속: ${data.evaluations.punctuality} </div>
                `;
            }
            if(data.evaluations.positivity){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">🌈긍정적: ${data.evaluations.positivity} </div>
                `;
            }
            if(data.evaluations.mvp){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">👑MVP: ${data.evaluations.mvp} </div>
                `;
            }
            if(data.evaluations.mechanical_skill){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">💪피지컬: ${data.evaluations.mechanical_skill} </div>
                `;
            }
            if(data.evaluations.operation){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">🧠운영 능력: ${data.evaluations.operation} </div>
                `;
            }
            if(data.evaluations.negativity){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">🙁부정적 태도: ${data.evaluations.negativity} </div>
                `;
            }
            if(data.evaluations.profanity){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">🤬욕설: ${data.evaluations.profanity} </div>
                `;
            }
            if(data.evaluations.afk){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">❓탈주/자리비움: ${data.evaluations.afk} </div>
                `;
            }
            if(data.evaluations.cheating){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">🥷부정행위: ${data.evaluations.cheating} </div>
                `;
            }
            if(data.evaluations.verbal_abuse){
                evaluationDiv.innerHTML +=`
                <div class="evaluation-item">😡공격적인언행: ${data.evaluations.verbal_abuse}</div>
                `;
            }

            // Articles 출력
            resultDiv.innerHTML += `<h2>Articles</h2><div id="articles"></div>`;
            if(data.articles != false){
                console.log(data.articles)
                const articlesDiv = document.getElementById('articles');
                data.articles.forEach(article => {
                    articlesDiv.innerHTML += `
                        <div class="article">
                            <div class="title-score">
                                <h3 class="title">${article.title}</h3>
                                <span class="article-score">👍${article.article_score}</span>
                            </div>
                            <div class="created-at">${new Date(article.created_at).toLocaleString()}</div>
                        </div>
                    `;
                });
                resultDiv.appendChild(articlesDiv);
            }
            else{
                articles.innerHTML += `<h3 style="color: gray;">리뷰가 없습니다.</h3>`
            }
        }
    </script>

{% endblock javascript %}
