{% extends "base.html" %}
{% load static %}

{% block title %}리뷰 작성{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/article_create.css' %}">
{% endblock css %}

{% block content %}

<form id="articleForm" action="{% url 'articles' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- 유저 검색 기능 -->
    <div class="user-search-container">
        <input type="text" id="user-search" class="search-bar" placeholder="&nbsp;유저 찾기">
        <svg id="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="search-btn" fill="white">
            <path d="M10 2a8 8 0 105.29 14.29l4.63 4.63 1.41-1.41-4.63-4.63A8 8 0 0010 2zm0 2a6 6 0 110 12 6 6 0 010-12z"/>
        </svg>
        <select id="reviewee" name="reviewee" class="reviewee-select">
            <option value="">유저 검색 결과</option>
        </select>
    </div>
    
    <!-- 4. 이모티콘 점수 선택 -->
    <div class="emoji-radio-container">
        <label class="emoji-label">
            😍
            <input type="radio" name="article_score" class="emoji-radio" value="10">
        </label>
        <label class="emoji-label">
            🥰
            <input type="radio" name="article_score" class="emoji-radio" value="9">
        </label>
        <label class="emoji-label">
            😘
            <input type="radio" name="article_score" class="emoji-radio" value="8">
        </label>
        <label class="emoji-label">
            😄
            <input type="radio" name="article_score" class="emoji-radio" value="7">
        </label>
        <label class="emoji-label">
            😙
            <input type="radio" name="article_score" class="emoji-radio" value="6">
        </label>
        <label class="emoji-label">
            🙂
            <input type="radio" name="article_score" class="emoji-radio" value="5">
        </label>
        <label class="emoji-label">
            🥺
            <input type="radio" name="article_score" class="emoji-radio" value="4">
        </label>
        <label class="emoji-label">
            😞
            <input type="radio" name="article_score" class="emoji-radio" value="3">
        </label>
        <label class="emoji-label">
            😣
            <input type="radio" name="article_score" class="emoji-radio" value="2">
        </label>
        <label class="emoji-label">
            😡
            <input type="radio" name="article_score" class="emoji-radio" value="1">
        </label>
        <label class="emoji-label">
            🤮
            <input type="radio" name="article_score" class="emoji-radio" value="0">
        </label>
    </div>

    <!-- 리뷰 내용 -->
    <input type="text" name="title" class="title" id="title" placeholder="리뷰 제목" required><br>

    <textarea id="content" name="content" class="content-box" placeholder="리뷰를 입력하세요..." required></textarea>

    <!-- 평가 항목들 -->
    <div class="review-categories">
        <span class="badge" data-category="kindness">💗 상냥함</span>
        <span class="badge" data-category="teamwork">🛠 팀워크</span>
        <span class="badge" data-category="communication">📢 소통왕</span>
        <span class="badge" data-category="mental_strength">🧠 멘탈</span>
        <span class="badge" data-category="punctuality">⏰ 시간약속</span>
        <span class="badge" data-category="positivity">💪 긍정적</span>
        <span class="badge" data-category="mvp">⭐ MVP</span>
        <span class="badge" data-category="mechanical_skill">⚙️ 피지컬</span>
        <span class="badge" data-category="operation">🎮 운영</span>
        <span class="badge" data-category="negativity">☹️ 부정적태도</span>
        <span class="badge" data-category="profanity">🤬 욕설</span>
        <span class="badge" data-category="afk">💤 탈주/자리비움</span>
        <span class="badge" data-category="cheating">😈 핵사용</span>
        <span class="badge" data-category="verbal_abuse">😡 언어폭력</span>
    </div>
    
    <!-- 이미지 업로드 및 미리보기 -->
    <input type="file" name="img" id="img" multiple accept="image/*" onchange="previewImages(event)">
    <div id="image-preview"></div>

    <input type="hidden" name="selected_categories" id="selected_categories">
    <input type="submit" value="Save" class="submit-btn">
</form>

{% endblock content %}

{% block javascript%}
<script>
    // Bearer 토큰 가져오는 함수
    function getAccessToken() {
        return localStorage.getItem('access_token');
    }

    // CSRF 토큰을 가져오는 함수
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrftoken = getCookie('csrftoken');

    // 유저 검색 기능
    document.getElementById('search-icon').addEventListener('click', function() {
        const query = document.getElementById('user-search').value;
        const revieweeSelect = document.getElementById('reviewee');
        revieweeSelect.innerHTML = '<option value="">--평가 할 사람을 고르세요--</option>';

        fetch(`/api/articles/search_user/?q=${query}`, {
            method: 'GET', 
            headers: {
                'X-CSRFToken': csrftoken, 
                'Authorization': 'Bearer ' + getAccessToken() 
            }
            })
            .then(response => response.json())
            .then(data => {
                if (data.users.length === 0) {
                    return;
                }
                data.users.forEach(user => {
                    const option = document.createElement('option');
                    option.textContent = `${user.username} | ${user.riot_username || ''}${user.riot_tag || ''}`;
                    option.value = user.id;
                    revieweeSelect.appendChild(option);
                });
            });
    }
    );

    // 리뷰 카테고리 선택 기능
    document.addEventListener('DOMContentLoaded', function() {
        const badges = document.querySelectorAll('.badge');
        const selectedCategoriesInput = document.getElementById('selected_categories');
    
        badges.forEach(badge => {
            badge.addEventListener('click', function() {
                // 선택된 뱃지에 'selected' 클래스 추가/제거
                this.classList.toggle('selected');
    
                // 선택된 카테고리를 hidden input에 업데이트
                const selectedCategories = Array.from(badges)
                    .filter(badge => badge.classList.contains('selected'))
                    .map(badge => badge.dataset.category);
    
                // 원하는 형식으로 변환
                const categoryValues = {};
                badges.forEach(badge => {
                    const categoryName = badge.dataset.category;
                    if (badge.classList.contains('selected')){
                        categoryValues[categoryName] = 1
                    }
                });
    
                selectedCategoriesInput.value = JSON.stringify(categoryValues); // JSON 형태로 직렬화하여 저장
            });
        });
    });

    // 이미지 미리보기 기능
    function previewImages(event) {
        const previewContainer = document.getElementById('image-preview');
        previewContainer.innerHTML = '';

        const files = event.target.files;
        Array.from(files).forEach(file => {
            const reader = new FileReader();
            reader.onload = function (e) {
                const imgElement = document.createElement('img');
                imgElement.src = e.target.result;
                imgElement.style.maxWidth = '100px';
                imgElement.style.marginRight = '10px';
                previewContainer.appendChild(imgElement);
            };
            reader.readAsDataURL(file);
        });
    }


    // 리뷰 작성
    document.getElementById('articleForm').addEventListener('submit', function(event) {
        event.preventDefault();  // 폼의 기본 제출 동작 막기
    
        const revieweeSelect = document.getElementById('reviewee');
        if (revieweeSelect.value === "") {
            alert("평가 할 유저를 선택해주세요.");  // 경고 메시지 표시
            return;
        }
    
        // Bearer 토큰 가져오기
        const accessToken = getAccessToken();
    
        // 폼 데이터 가져오기
        const formData = new FormData(this);
    
        // fetch로 폼 데이터 전송
        fetch(this.action, {
            method: 'POST',
            headers: {
                'Authorization': 'Bearer ' + accessToken,  // Bearer 토큰 추가
                'X-CSRFToken': csrftoken
            },
            body: formData  // 폼 데이터 전송
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            window.location.href = '/article_list/';
        })
        .catch(error => {
            console.error('Error:', error);
            alert(data.message);
            window.location.href = '/article_list/';
        });
    });

</script>

{% endblock javascript %}
