body {
    background-color: #121212;
    color: #e0e0e0;
}

.article-detail {
    width: 100%; 
    margin: auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.article-detail h1, h2, h3 {
    color: #ffffff;
}

.article-detail h2, h3 {
    color: #6f69a5;
}

.article-detail p {
    font-size: 14px; 
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.comment {
    background-color: #333;
    padding: 1px 15px 15px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: #ddd;
}

.comment h4 {
    color: #6f69a5;
}

.comment-form textarea {
    width: 100%;
    height: 100px;
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
}


/* 이미지 스타일 */
.article-detail img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}


.button-container {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-top: 5px;
    margin-bottom: 22px; /* 버튼과 아래 요소 사이의 간격 */
}
.button-81 {
    background-color: #6f69a5;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #ECE7F9;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem !important;
    font-weight: 600;
    line-height: 1;
    padding: 0.8rem 2rem !important;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: right; 
}

.button-81:hover {
    background-color: #8a3ffc;
    color: #fff;
}

.article-images img {
    max-width: 100%; /* 부모 요소의 크기를 넘지 않도록 */
    height: auto; /* 비율 유지 */
    display: block; /* 이미지 주위 여백 없애기 */
    margin-bottom: 10px; /* 아래 여백 추가 */
}

.reviewers-container {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-bottom: 20px; /* 하단 여백 */
}

.reviewer {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    margin-left: 20px; /* 요소 간격 조절 */
}

.profile-image {
    margin-right: 10px; /* 프로필 이미지와 텍스트 간격 */
    width: 30px; /* 이미지 크기 조정 */
    height: 30px; /* 이미지 크기 조정 */
    border-radius: 50%; /* 원형 이미지 */
}

.username {
    font-size: 16px; /* 사용자 이름 크기 조정 */
    margin: 0; /* 기본 마진 제거 */
}

.article-detail h2 a,
.article-detail h2 a:visited,
.article-detail h2 a:hover,
.article-detail h2 a:active {
    color: inherit; /* 부모 요소의 색상 상속 */
    text-decoration: none; /* 밑줄 제거 */
    font-size: inherit; /* 폰트 크기 상속 */
    cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
}