body .site-user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

body #result {
    text-align: center;
}

#summoner-level{
    background-color: #4f4f4f;
    padding: 2px 6px 4px 6px;
    border-radius: 11px;
    margin-top: -0.5%;
}

.riot_username_tag{
    margin-top: -0.5%;
}

.site-user-info h1,
.site-user-info .score {
    display: inline;
}

.total-score {
    background-color: #34C759;
    padding: 2px 10px 4px 6px;
    border-radius: 11px;
    height: 1%;
    margin-left: 5px;
}

#top-champions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#articles {
    color: white;
}

.article {
    justify-content: space-between;
    background-color: #2f2e2e;
    display: flex;
    margin: 20px auto 0;
    width: 30%;
    padding-bottom: 0.5%;
}

.title {
    margin-top: 0;
}

.title-score {
    text-align: left;
    margin-left: 2%;
}

.created-at{
    margin-right: 2%;
}

.article-score {
    background-color: #34C759;
    padding: 2px 10px 4px 6px;
    border-radius: 11px;
}

#profile-icon {
    width: 100px;
}

.profile-level {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#evaluation-container {
    width: 50%;
    margin: 0 auto;
}

.evaluation-item {
    display: inline;
}