{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <title>Discord Login Test</title>

    <!-- Oxygen Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    
    <script>
        // 페이지 로드 시 JWT 토큰을 확인하고 저장하기
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const accessToken = urlParams.get('access');
            const refreshToken = urlParams.get('refresh');

            // JWT 토큰이 있으면 로컬 스토리지에 저장
            if (accessToken && refreshToken) {
                localStorage.setItem('access_token', accessToken);
                localStorage.setItem('refresh_token', refreshToken);

                // URL에서 토큰 파라미터 제거
                window.history.replaceState({}, document.title, window.location.pathname);
            }
        }
    </script>
</head>
<body>

    {% if not user.is_anonymous %}
        <a href="#" class="login-button">
            {{ user.discord_username }}<span class="tag">#{{ user.discord_tag }}</span> 님 안녕하세요!
        </a>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="login-button" href="{% url 'discord-login' %}">
            <span>Login</span>
        </a>
    {% endif %}

</body>
</html>
