{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <title>Discord Login Test</title>

    <!--Oxygen Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
</head>
<body>
    <img src="https://raw.communitydragon.org/latest/game/assets/ux/summonericons/profileicon1.png" alt="Summoner Icon" width="200" height="200">


    {% if not user.is_anonymous %}
        <a href="#" class="login-button">
            {{ user.discord_username }}<span class="tag" >#{{ user.discord_tag }}</span> 님 안녕하세요!
            <!-- <img class="avatar" src="https://cdn.discordapp.com/avatars/{{ user.id }}/{{ user.avatar }}.png"> -->
        </a>

        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="login-button" href="{% url 'discord-login' %}">
            <span>Login</span>
        </a>
    {% endif %}


</body>
</html>