{% extends "base.html" %}
{% load static %}

{% block title %}party{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static '/css/party.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %}
{% block content %}
<div class="left-container"></div>
{% if request.user %}
<label style="padding: 20px;">파티 생성하기</label><br />
<form action="{% url 'party' %}" method="POST">
    {% csrf_token %}
    <div class="grid-container">
        <div class="grid-header">랭크</div>
        <div class="grid-header">서버</div>
        <div class="grid-header">성별</div>
        <div class="grid-header">나이</div>
        <div class="grid-header">언어</div>
        <div class="grid-header">포지션</div>
        <!-- 추가된 칸에 대한 2줄 병합 -->
        <div class="grid-item grid-item-merged submit-div">
            <div class="mar-bot-20">
                <input type="checkbox" id="is_rank" name="is_rank" />
                <label for="is_rank">내전</label>
            </div>
            <button type="submit">제출</button>
        </div>
        
        <div class="grid-item">
            <select name="rank" id="rank">
                <option value="0">Unrank</option>
                <option value="1">Iron</option>
                <option value="2">Bronze</option>
                <option value="3">Silver</option>
                <option value="4">Gold</option>
                <option value="5">Platinum</option>
                <option value="6">Amarald</option>
                <option value="7">Diamond</option>
                <option value="8">Master</option>
                <option value="9">Grand Master</option>
                <option value="10">Challenger</option>
            </select>
        </div>

        <div class="grid-item">
            <select name="server" id="server">
                <option value="KR">Korean</option>
                <option value="EN">English</option>
                <option value="JP">Japanese</option>
            </select>
        </div>

        <div class="grid-item">
            <select name="gender" id="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
            </select>
        </div>

        <div class="grid-item">
            <select name="age" id="age">
                <option value="10">청소년</option>
                <option value="20">청년</option>
                <option value="30">중년</option>
                <option value="40">중장년</option>
            </select>
        </div>

        <div class="grid-item">
            <select name="language" id="language">
                <option value="KR">Korean</option>
                <option value="EN">English</option>
                <option value="JP">Japanese</option>
            </select>
        </div>

        <div class="grid-item">
            <select name="position" id="position">
                <option value="top">Top</option>
                <option value="mid">Mid</option>
                <option value="jun">Jungle</option>
                <option value="adc">ADC</option>
                <option value="sup">Support</option>
            </select>
        </div>
    </div>
</form>
{% else %}
로그인이 필요합니다.
{% endif %}


<div class="vertical-container">
    {% for data in party %}
    {% if data.is_rank %}
    <!-- 경쟁/일반/ -->
    <div class="horizontal-container">
        <div>{% if data.top1 is none %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.top1.profile_image}}{{data.top1.username}}{% endif %}<img src="{% static 'party/top.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.mid1 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.mid1.profile_image}}{{data.mid1.username}}{% endif %}<img src="{% static 'party/mid.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.jungle1 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.jungle1.profile_image}}{{data.jungle1.username}}{% endif %}<img src="{% static 'party/jungle.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.adc1 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.adc1.profile_image}}{{data.adc1.username}}{% endif %}<img src="{% static 'party/bot.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.support1 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;">
            {% else %}{{data.support1.profile_image}}{{data.support1.username}}{% endif %}</button><img src="{% static 'party/spt.svg' %}" alt="Icon" style="width: 20px;"></div>
    </div><br/><br/>
    {% else %}
    <!-- 두 번째 가로 5칸 컨테이너 -->
    <div class="horizontal-container">
        <div>{% if data.top1 is none %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.top1.profile_image}}{{data.top1.username}}{% endif %}<img src="{% static 'party/top.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.mid1 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.mid1.profile_image}}{{data.mid1.username}}{% endif %}<img src="{% static 'party/mid.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.jungle1 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.jungle1.profile_image}}{{data.jungle1.username}}{% endif %}<img src="{% static 'party/jungle.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.adc1 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.adc1.profile_image}}{{data.adc1.username}}{% endif %}<img src="{% static 'party/bot.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.support1 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;">
            {% else %}{{data.support1.profile_image}}{{data.support1.username}}{% endif %}</button><img src="{% static 'party/spt.svg' %}" alt="Icon" style="width: 20px;"></div>
    </div>
    <div class="horizontal-container">
        <div>{% if data.top2 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.top2.profile_image}}{{data.top2.username}}{% endif %}<img src="{% static 'party/top.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.mid2 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.mid2.profile_image}}{{data.mid2.username}}{% endif %}<img src="{% static 'party/mid.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.jungle2 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.jungle2.profile_image}}{{data.jungle2.username}}{% endif %}<img src="{% static 'party/jungle.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.adc2 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.adc2.profile_image}}{{data.adc2.username}}{% endif %}<img src="{% static 'party/bot.svg' %}" alt="Icon" style="width: 20px;"></div>
        <div>{% if data.support2 is null %}<button type="button" class="no-style-button" onclick="consoleprint()"><img src="{% static 'party/plus-circle.svg' %}" alt="Icon" style="width: 40px;"></button>
            {% else %}{{data.support2.profile_image}}{{data.support2.username}}{% endif %}<img src="{% static 'party/spt.svg' %}" alt="Icon" style="width: 20px;"></div>
    </div><br/><br/>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}

{% block javascript%}
<script>
    // 숫자를 입력받아 해당 랭크를 출력하는 함수
    function getRank(number) {
        const rankText = rankMapping[number] || "Invalid Rank";
        // document.getElementById("rankOutput").innerText = rankText;
        return rankText;
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Django에서 받은 data.rank 값을 HTML에 출력
        const rankValue = document.getElementById("rankInput").innerText;
        const rankLabel = document.getElementById("rankLabel");
        rankLabel.innerText = getRank(rankValue);  // 함수 호출 결과를 label에 출력
    });


    function deletemethod(itemId) {
        console.log('삭제할 itemId:', itemId);  // itemId를 콘솔에 출력


        const url = `http://127.0.0.1:8000/api/party/${itemId}`; // 엔드포인트에 변수를 포함한 URL

        fetch(url, {
            method: 'DELETE',
        })
            .then(response => {
                if (response.ok) {
                    alert('삭제 성공');
                } else {
                    alert('삭제 실패');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        // fetch('/parties/' + itemId + '/', {
        //     method: 'DELETE',
        //     headers: {
        //         'X-CSRFToken': csrftoken,
        //     },
        // })
        // .then(response => response.json())
    };

    function consoleprint(){
        console.log('console print');
    }
</script>
{% endblock javascript%}